:root {
  --md-char-color: #c7c5c5;
  --meta-content-color: #5b808d;

  --blur-text-color: #c8c8c8;

  --drag-placeholder-color: #c7c5c5;
  --panel-border-color: #777777;
  --active-toggle-btn-color: #ddd;
  --table-border-color: #ccc;

  --primary-color: #428bca;
  --primary-btn-border-color: #285e8e;
  --primary-btn-text-color: #fff;

  --search-select-bg-color: #555;
  --search-select-text-color: #fff;

  --heading-char-color: #ddd;
  /* --color-popover-bg-color: #fafafa; */
  --color-popover-bg-color: #555;

  --control-text-color: var(--text-color);
  --control-text-hover-color: var(--text-color);
  --window-border: 1px solid #343434;

  --active-file-bg-color: #a5a5a540;
  --active-file-text-color: inherit;
  --active-file-border-color: #777;
  --focus-ring-color: #6eace2;

  --side-bar-bg-color: var(--bg-color);
  --item-hover-bg-color: rgba(229, 229, 229, 0.59);
  --item-hover-text-color: inherit;

  --side-bar-menu-active-tint: var(--side-bar-menu-active-tint);

  --mac-title-bar-height: 20px;
  --sidebar-width: 270px;
  --select-text-font-color: #000;
}

.on-focus-mode .md-focus,
.on-focus-mode .md-focus-container {
  color: #111;
  color: #4e4a4a;
}

#typora-source .CodeMirror-lines {
  padding-top: 30px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 30px;
  max-width: 1280px;
  margin: 0 auto;
}
